@use "global" as *;

.sub-2column {
    display: block;
    @include mq(md) {
        display: grid;
        grid-template-columns: calc( 706 / 1080 * 100%) calc( 294 / 1080 * 100%);;
        column-gap: rem(80);
    }
}

.sub-2column__wrapper {
    position: relative;
}

